.flex{
    .form{
      height: 70vh;
      align-items: center;
      input{
        font-size: 1em;
        padding: 0.2em;
        min-width: 5px;
      }
      button{
        font-size: 1.2em;
        border-radius: 5px;
      }
      .errors{
        border-radius: 32px;
        min-width: 90%;
        padding: 1em;
      }
    }
    }