.page-table{
  background-color: $greyColor9;
  min-height: 100vh;
  padding-top: 5em;
  h1{
    color: $mainColor3;
  }
  .buscador{
    form{
      input, button, select{
        padding: 0.2em !important;
      }
      button{
        outline: none;
        border: none;
        color: $mainColor7;
        background-color: $pageWhite;
        transition: all 0.2s ease-in-out;
        &:hover{
          @include shadowDark();
          color: $pageWhite;
          background-color: $pageRed;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
  .table{
   margin-top: 5em;
    overflow-x: auto;
    width: 100%;
      table{
        overflow: hidden;
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 0.7em;
        thead{
          @include shadowDark();
          border-radius: 15px;
          background-color: $greyColor3;
          color: $pageWhite;
          th{
            text-align: center;
            padding: 0.5em;
            font-weight: bold;
            
          }//Thead Data
        }//THead
        tbody{
          tr{
            
            height: 7vh;
            background-color: $greyColor8;
            td{
              width: 20%;
              padding: 0.4em;
              text-align: center;
              color: $greyColor3;
              
              a{
                display: inline-block;
                background-color: $mainColor5;
                color: $pageWhite;
                border-radius: 7px;
                text-align: center;
                padding: 0.3em;
                width: 90%;
                margin: 4px;
               
              }
              span{
                font-size: 0.9em;
              }
             
            }//TData
            
            &:hover{
              background-color: $greyColor6;
              color: $pageWhite;
              @include shadowDark();
              transition: all 0.1s ease-out;
              td{
                
                a{
                  background-color: $pageWhite;
                  color: $pageRed;
                  transition: all 0.2s ease-in-out;
                  &:hover{
                    box-shadow: 1px 1px 10px #2e2e2e;
                    transition: all 0.2s ease-in-out;
                  }
                }
              }
            }
          }//TRow
          
             
            .order-detail{
              padding: 0em;
              position: relative;
              font-size: 12px !important;
              pointer-events: none;
              background-color: $pageWhite;
              .data{
                padding: 1em;
                font-family: 'Inconsolata', monospace;
                width: 100vw;              
                text-align: left;
                color: $pageDark;
              }
              &:hover{
                pointer-events: none;
              }
              
            }
           
            
            .hide{
              transition: all 5s ease-in-out;
              display: none;
             
            }
          
          
        }//Tbody
      }//Table
  }//Table Class
  .pagination{
    position: relative;
    top: 30px;
    ul{
      display: flex;
      flex-direction: row;
      justify-content: center;
      li{
        text-align: center;
        width: 30px;
        
        a{
          border-radius: 3px;
          &:hover{
            background-color: $pagePink;
          }
        }
        .selected{
          background-color: $pageSalmon;
          color: $pageDark;
        }
      }
    }
  }//pagination
}//Buscador