$pageRed :hsl(229, 57, 37);
$pageRedDarker:hsl(229, 80, 25);
$pageRedLighter: #d84f4f;
$pageSalmon: #ffefef;
$pagePink: #f74c4c;
$pageSalmonDarker: #ffcece;
$pageWhite : #fff;
$pageWhiteWOpacity: rgba(255, 255, 255, 0.9);
$pageWhiteDarker: rgb(224, 224, 224);
$pageGrey: #9c9c9c;
$pageBlack: #1d1d1d81;
$pageDark: #000;
$pageWhiteGrey: rgb(240, 240, 240);
$green : #42ff4b;
$orange : #ff531e;
$yellow : #fcff4e;
$blue : #3633ff;


$mainColor1: hsl(229, 100, 10);
$mainColor2:  hsl(229, 80, 20);
$mainColor3: hsl(229, 80, 25);
$mainColor4:  hsl(229, 65, 30);
$mainColor5:  hsl(229, 57, 37);
$mainColor6: hsl(229, 42, 50);
$mainColor7: hsl(229, 50, 65);
$mainColor8: hsl(229, 45, 80);
$mainColor9: hsl(229, 45, 98);

$greyColor1: hsl(210, 10, 5);
$greyColor2: hsl(209, 22, 15);
$greyColor3: hsl(208, 20, 22);
$greyColor4: hsl(208, 20, 30);
$greyColor5: hsl(208, 13, 50);
$greyColor6: hsl(209, 15, 60);
$greyColor7: hsl(209, 15, 70);
$greyColor8: hsl(209, 15, 90);
$greyColor9: hsl(209, 15, 98);