@import 'colors';
/*----------------------------------
MIXINS
------------------------------------*/
@mixin buttonHover($color1, $color2) {
  background-color: $color1;
  color: $pageWhite;
  transition: all 0.5s ease-in-out;
  &:hover{
    cursor: pointer;
    background-color: $color2;
    box-shadow: 0px 0px 6px $greyColor6;
    color: $pageWhite;
    transition: all 0.5s ease-in-out;
  }
}
@mixin shadow {
  box-shadow: 0px 0px 8px $greyColor8;
}
@mixin shadowDark {
  box-shadow: 0px 0px 8px $greyColor3;
}
.l-3{
  height: 6px;
  width: 120px;
  background-color: $mainColor4;
  position: relative;
  left: 34px;
}
/*----------------------------------
GENERAL
------------------------------------*/

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
main{
  min-height: auto;
}

ul{
  list-style: none;
}
a{
  display: block;
  text-decoration: none;
  font-weight: 600;
  color: $mainColor2;
}
.icono{
  color: $pageWhite !important;
}
body{
    margin: 0px;
    padding: 0px;
}
.line-redDark{
  background-color: $pageRed;
  width: 100%;
  height: 5px;
}
.line-pink{
    background-color: $pageRedDarker;
    height: 6px;
    margin-bottom: 2em;
}
.button-3{
  border: none;
  border-radius: 5px;
  padding: 0.7em !important;
  @include  buttonHover($mainColor6, $mainColor5);
}
.action-title{
  h1{
    color: $mainColor5;
    opacity: 1;
    font-size: 2em !important;
  }
}
.correct{
  border-bottom: 8px solid $green !important;
}
.error{
  border-bottom: 8px solid $orange !important;
  transition: all 1s ease-in-out;
}

  .blue{
    color: $blue;
  }
  .green{
    color: $green;
  }
  .orange{
    color: $orange;
  }
  .yellow{
    color: $yellow
  }
  .hidden{
    display: none;
  }